{
    "plugins": [
      ["module-resolver", {
        "root": ["./"],
        "alias": {
          "@components": "./src/components",
          "@utils": "./src/components",
          "@screens":"./src/screens",
          "@navigation":"./src/navigation"
        }
      }]
    ]
  }